<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="icon" type="image/x-icon" href="resources/img/home/x-icon.jpg">
    <link rel="stylesheet" href="resources/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
</head>
<body>
    <!-- body -->
    <div class="container">
        <!-- banner -->
        <div class="banner">
            <div class="content">
                <h1>
                   	Web của Bo
                </h1>
                <div class="info">
                    <p>ABOUT ME</p>
                    <ul>
                        <li><span><i class="fa-solid fa-user"></i></span> <strong>Tên :</strong> Nguyễn Kỳ Anh</li>
                        <li><span><i class="fa-solid fa-id-card"></i></span> <strong>ID:</strong> 21110815</li>
                        <li><span><i class="fa-solid fa-chalkboard-user"></i></span> <strong>Lớp:</strong> 21110CL4</li>
                        <li><span><i class="fa-solid fa-envelope"></i></span> <strong>E-Mail sinh vien :</strong> 21110815@student.hcmute.edu.vn</li>
                        <li><span><i class="fa-solid fa-envelope"></i></span> <strong>E-Mail làm việc :</strong> nguyenkyanh.tanmai@gmail.com</li>
                        <li><span><i class="fa-solid fa-envelope"></i></span> <strong>Cv :</strong> <a href="resources/file/NguyenKyAnh_SoftwareEngineer.pdf" >Nhấp vào đây để xem Cv</a> </li>
                    </ul>
                </div>
                <div class="find">
                    <h3>CONTACT WITH ME</h3>
                    <ul>
                        <li><a href="https://www.facebook.com/kyanh.nguyen.35380399/?locale=vi_VN" target="_blank"><i class="fa-brands fa-square-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/kaiz0708/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a></li>
                        <li><a href="https://web.telegram.org/a/" target="_blank"><i class="fa-brands fa-telegram"></i></a></li>
                        <li><a href="https://github.com/kaiz0708" target="_blank"><i class="fa-brands fa-github"></i></a></i></li>
                    </ul>
                </div>
            </div>
            
                 
            
        </div>
        
        
        <div id="exercise">
            <div class="title">EXERCISE</div> 
            <p style="text-align: center; font-style: italic;">Web Programming Exercises</p>
                <div class="section-exercise">
                    <div class="section-exercise-btn">
                        <a href="ch05ex2">
                            <div class="">
                                
                                    <strong style="margin-bottom: 8px;">Exercise</strong>
                                    <strong>5.2</strong>
                               
                                <div class="card-desc">
                                    <span>&nbsp;&nbsp;Get/Post Method</span>
                                </div>
                            </div>
                        </a>
                        <a href="ch06ex2">
                            <div class="">
                               
                                    <strong style="margin-bottom: 8px;">Exercise</strong>
                                    <strong>4.1 + 6.2</strong>
                                
                                <div class="card-desc">
                                    <span></i>&nbsp;&nbsp;Survey Application</span>
                                </div>
                            </div>
                        </a>
                        <a href="ch08ex1">
                            <div class="">
                                
                                    <strong style="margin-bottom: 8px;">Exercise</strong>
                                    <strong>5.1 + 6.1 + 8.1</strong>
                                
                                <div class="card-desc">
                                    <span>&nbsp;&nbsp;Email List Application</span>
                                </div>
                            </div>
                        </a>
                        <a href="ch09ex1">
                            <div class="">
                               
                                    <strong style="margin-bottom: 8px;">Exercise</strong>
                                    <strong>7.1 + 7.2 + 9.1</strong>
                                
                                <div class="card-desc">
                                    <span>&nbsp;&nbsp;Download Application</span>
                                </div>
                            </div>
                        </a>
                        <a href="loadProducts">
                            <div class="">
                               
                                    <strong style="margin-bottom: 8px;">Exercise</strong>
                                    <strong>7.3 + 9.2</strong>
                               
                                <div class="card-desc">
                                    <span>&nbsp;&nbsp;Cart Application</span>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
        </div>

        <!-- playlist -->
        <div id="playlist">
            <div class="title"><i class="fa-solid fa-headphones-simple fa-beat"></i>&nbsp;&nbsp;&nbsp;&nbsp;MY PLAYLIST&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-music fa-beat"></i></div>
            <div class="listAudio">   
                <table>
                    <tr>
                        <th class="text-center">No.</th>
                        <th class="text-center">Song</th>
                        <th class="text-center">Duration</th>
                        <th class="text-center">Audio</th>
                    </tr>

                    <tr>
                        <td class="text-left">01</td>
                        <td class="text-center">
                            <p>Butter-Fly</p>
                        </td>
                        <td class="text-right">1:35</td>
                        <td class="text-center">
                            <audio src="musicStore/audio/butter-fly.mp3" controls preload="none"></audio>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-left">02</td>
                        <td class="text-center">
                            <p>Tại Vì Sao</p>
                        </td>
                        <td class="text-right">3:22</td>
                        <td class="text-center">
                            <audio src="musicStore/audio/taivisao.mp3" controls preload="none"></audio>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-left">03</td>
                        <td class="text-center">
                            <p>Thôi Em Đừng Đi</p>
                        </td>
                        <td class="text-right">2:53</td>
                        <td class="text-center">
                            <audio src="musicStore/audio/thoiemdungdi.mp3" controls preload="none"></audio>
                        </td>
                    </tr>

                    <tr>
                        <td class="text-left">04</td>
                        <td class="text-center">
                            <p>Nên Chờ Hay Nên Quên</p>
                        </td>
                        <td class="text-right">3:44</td>
                        <td class="text-center">
                            <audio src="musicStore/audio/nenchohaynenquen.mp3" controls preload="none"></audio>
                        </td>
                    </tr>
                </table>
            </div>
        </div>       
    </div>
  
</body>
</html>
